html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #1b2027;
  color: #ffffff;
}

#container {
  width: auto;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;

}
.page {
  font-size: 30px;
  font-style: italic;
  color: #ffd700;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1a1e25;
  margin-bottom: 40px;
  padding-top: 10px;
  border-bottom: 1.5px solid #333;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

#title h1 {
  margin-left: 20px;
  font-size: 32.5px;
  color: #ffd700;
  letter-spacing: 7.5px;
  word-spacing: 10px;
}

#title img {
  max-width: 130px;
  height: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 10px;
  gap: 10px;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

nav ul li {
  cursor: pointer;
}

nav li {
  font-size: 18px;
  background-color: #393E46;
  color: #ffd700;
  padding: 10px 15px;
  border-radius: 30px;
}

a {
  color: #ffd700;
  text-decoration: none;
}

nav li:hover {
  background-color: #ffd700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav li:hover a {
  color: #1b2027;
}

#movieList {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    gap: 5px;
}

.sub-List {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 15px;
    box-sizing: border-box;
}

.movieContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    max-width: calc(25% - 10px);
    gap: 5px;
    justify-content: space-between;
    border: 2px solid #393E46;
}

.movieContent * {
    margin: 0;
}

.movieContent h2 {
    font-size: 20.5px;
    text-align: center;
    padding-bottom: 10px;
}

.movieContent img {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.movieButton {
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
    justify-content: center;
    gap: 17.5px;
    margin-top: auto;
}

.movieButton button {
    background-color: #FFDB00;
    font-size: 16.5px;
    border-radius: 30px;    
    padding: 5px 8.5px;
    border: none;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    transition: transform 0.3s ease-in-out; 
}

.movieButton button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.popup {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.popup-content {
    background-color: #1b2027;
    margin: auto;   
    padding: 15px;
    border: 2px solid #888;
    width: 70%; 
    max-width: 800px; 
    border-radius: 10px;
    position: relative;
    top: 55%;
    transform: translateY(-50%); 
    height: auto;
}

.popup-content iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: #1a1d23;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-top: 1.5px solid #333;
    margin-top: 45px;
}

footer .optionalPage {
    margin-bottom: 10px;
}

footer .optionalPage a {
    color: #f0f0f0;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 15px;
}

footer .optionalPage a:hover {
    color: #ffd700;
}

footer .copyright {
    margin-top: 10px;
    font-size: 17.5px;
    color: #ccc;
}

::-webkit-scrollbar {
    width: 6.5px;
}

::-webkit-scrollbar-thumb {
    background-color: #424956;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1b2027;
    padding:2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
