html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #1b2027;
    color: #ffffff;
  }
  
  #container {
    width: auto;    
  }
  
  * {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  
  }
  .page {
    font-size: 30px;
    font-style: italic;
    color: #ffd700;
    text-align: center;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1a1e25;
    margin-bottom: 45px;
    padding-top: 10px;
    border-bottom: 1.5px solid #333;
  }
  
  #title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  }
  
  #title h1 {
    margin-left: 20px;
    font-size: 32.5px;
    color: #ffd700;
    letter-spacing: 7.5px;
    word-spacing: 10px;
  }
  
  #title img {
    max-width: 130px;
    height: auto;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    gap: 10px;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
  
  nav ul li {
    cursor: pointer;
  }
  
  nav li {
    font-size: 18px;
    background-color: #393E46;
    color: #ffd700;
    padding: 10px 15px;
    border-radius: 30px;
  }
  
  
  a {
    color: #ffd700;
    text-decoration: none;
  }
  
  nav li:hover {
    background-color: #ffd700;
    color: #1b2027;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  nav li:hover a {
    color: #1b2027;
  }

#registerContainer * {
    padding: 0;
    margin: 0;
}

#registerContainer {
    background-color: #222831;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
    min-height: 400px;
    padding: 20px;
    border: 1px solid #FFDB00;
}

#registerContainer h1 {
    font-size: 40px;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
    color: #ffd700;
    font-weight: 600;

}

#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    gap: 15px;
    margin-bottom: 10px;
}

#registerForm input {
    border: 1px solid #ffd700;
    padding: 12px 10px;
    border-radius: 5px;
    background-color: rgb(57, 62, 70);
    color: #ffffff;
    width: 100%;
    font-size: 16px;
    transition: 0.3s ease;
}

#registerForm input[type="password"]:focus , #registerForm input[type="text"]:focus{
    outline: none;
    border-color: #FFDB00;
    box-shadow: 0px 0px 8px rgba(255, 219, 0, 0.6);
}

#registerForm input::placeholder {
  color: #fff; /* Ganti warna dengan yang diinginkan */
}

#registerForm button {
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #222831;
    background-color: #ffd700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#registerForm button:hover {
    background-color: #FFDB00;
}

#registerContainer a {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}

#registerContainer a:hover {
    text-decoration: underline; 
}






