html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #1b2027;
  color: #ffffff;
}

#container {
  width: auto;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;

}
.page {
  font-size: 30px;
  font-style: italic;
  color: #ffd700;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1a1e25;
  margin-bottom: 40px;
  padding-top: 10px;
  border-bottom: 1.5px solid #333;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

#title h1 {
  margin-left: 20px;
  font-size: 32.5px;
  color: #ffd700;
  letter-spacing: 7.5px;
  word-spacing: 10px;
}

#title img {
  max-width: 130px;
  height: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 10px;
  gap: 10px;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

nav ul li {
  cursor: pointer;
}

nav li {
  font-size: 18px;
  background-color: #393E46;
  color: #ffd700;
  padding: 10px 15px;
  border-radius: 30px;
}


a {
  color: #f0f0f0;
  text-decoration: none;
}

nav li:hover {
  background-color: #ffd700;
  color: #1b2027;
  transition: background-color 0.3s ease, color 0.3s ease;
}
  
#sliderContainer {
      position: relative;
      width: 70%;
      margin: auto;
      overflow: hidden;
      display: flex;
      align-items: center;
      margin-top: 25px;
}
    
#slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
}
    
    .slide {
      min-width: 100%;
      box-sizing: border-box;
      text-align: center;
    }
    
    .slide img {
      width: 85%;
      height: 450px; 
      border-radius: 20px;
    }
    
    .slide h2 {
      display: inline-block; 
      font-size: 20px;
      background-color: #393E46;
      color: #ffd700;
      padding: 10px 15px;
      border-radius: 30px;
      margin-top: 25px;
      letter-spacing: 2.5px;
  }
    
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-100%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 24px;
      z-index: 1;
    }
    
    .prev {
      left: 10px;
    }
    
    .next {
      right: 10px;
    }
    
  
  
  
  